<nav class="container-fluid fixed-bottom" style="background-color: rgb(255, 255, 255, 0.8);">
    <div class="container text-light">
        <div class="row p-1">
            <div class="col-4">
                <img style="padding: 2px;" src="../../../assets/logos/svg/logoARBA-bl.svg" width="85px" alt="">
            </div>
            <div class="col-4" style="text-align: center;">
                <img style="padding: 2px;" src="../../../assets/logos/png/dnrpa-azul.png" width="70px" alt="">
            </div>
            <div class="col-4" style="text-align: right;">
                <img style="padding: 2px;" src="../../../assets/logos/png/logo.png" width="85px" alt="">
            </div>
    </div>
</div>
</nav>
    
    