  .bg-blanco{
    border-radius: 5px;
    box-shadow: 3px;
    background: linear-gradient(135deg, #F2E3DB 10%, #f3f0ee );
  }
  li {
    padding: 1px 1px;
    display: table-cell;
  }  
  li a {
    display: block;
  }
  li a:hover {
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  } 
  /*Edit starts here*/
  li {
    position:relative;
  }
  li::after {
      content: '';
      display: block;
      width: 0;
      position:absolute;
      left:50%;
      height: 1px;
      background: #828282;
      transition: cubic-bezier(.77,0,.18,1) 1s;
  }  
  li:hover::after {
      width: 100%;
      left: 0%;
  }  
  li {
    transition: cubic-bezier(.77,0,.18,1) 1s;
  }
  
  
