<div class="card border-0 animated fadeIn p-5 shadow" style="background-color: rgba(255, 255, 255, 0.8);margin: 0 auto;max-width: 600px">
    <img src="../../../assets/logos/png/cuted-logo.png" class="my-auto" width="100%" style="max-width: 600px;margin: 0 auto;padding: 20px;border-radius: 20px;" alt="">
    <span style="padding-left: 20px;">
        <img style="padding: 2px;" src="../../../assets/logos/png/dnrpa-azul.png" width="70px" alt="">
        Matricula: M202127359844277DN
    </span>
</div>