<div class="container animated fadeIn" style="max-width: 700px;">
    <div class="card border-0 shadow" style="background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-body">
            <h1 class="text-center text-muted">
                AUTOMOTOR Y MOTOVEHICULOS
            </h1> 
            <hr>
            <br>
            <ul style="margin: 0 auto; list-style-type: none;">
                <li>
                    <details>
                        <summary style="text-decoration: underline;font-size: 18px;">Transferencias</summary>
                        <ul>
                            <li>
                                Cambio de titularidad.
                            </li>
                            <li>
                                Denuncia de venta/compra.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline;font-size: 18px;">Inscripción del automotor</summary>
                        <ul>
                            <li>
                                Alta inicial de automóviles, motocicletas (Todo tipo de vehículos).
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline;font-size: 18px;">Informes</summary>
                        <ul>
                            <li>
                                Conoce el Estado de Dominio de Automotores a nivel Nacional. 
                            </li>
                            <li>
                                Informes de infracciones.
                            </li>
                            <li>
                                Consultas de legajos.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline; font-size: 18px;">Gestión de turnos</summary>
                        <ul>
                            <li>
                                Turnos en el registro automotor en 24 horas. 
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline; font-size: 18px;">Robo</summary>
                        <ul>
                            <li>
                                Denuncia de robo, denuncia de hurto.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline; font-size: 18px;">Documentación</summary>
                        <ul>
                            <li>
                                Cédula para autorizados a conducir (ex cédula azul).
                            </li>
                            <li>
                                Duplicado de cédulas.
                            </li>
                            <li>
                                Duplicado de Títulos.
                            </li>
                            <li>
                                Reposición de chapas metálicas.
                            </li>
                            <li>
                                Placas de identificación provisorias.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline;font-size: 18px;">Gestiones Vehiculares</summary>
                        <ul>
                            <li>
                                Cambio de tipo de carrocería chasis y motor.
                            </li>
                            <li>
                                Cambios de radicación de automotores.
                            </li>
                            <li>
                                Bajas del automotor.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline;font-size: 18px;">Verificación policial a domicilio</summary>
                        <ul>
                            <li>
                                Un perito verificador va a domicilio.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline; font-size: 18px;">Geolocalización de titulares</summary>
                        <ul>
                            <li>
                                Informes con direcciones y teléfonos.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline; font-size: 18px;">Certificación de firma</summary>
                        <ul>
                            <li>
                                En el registro del automotor o por escribanía.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline; font-size: 18px;">Patentes</summary>
                        <ul>
                            <li>
                                Trámites de impuestos ante municipios, ARBA y AGIP.
                            </li>
                        </ul>
                    </details> 
                </li>
                <li>
                    <details>
                        <summary style="text-decoration: underline;font-size: 18px;">Prendas</summary>
                        <ul>
                            <li>
                                Inscripción Contrato de Leasing.
                            </li>
                            <li>
                                Inscripción de prenda.
                            </li>
                            <li>
                                Cancelación de prenda.
                            </li>
                            <li>
                                Enajenación de prenda.
                            </li>
                        </ul>
                    </details> 
                </li>
            </ul>  
            <br>
        </div>
    </div>   
</div>
