<div class="container animated fadeIn" style="max-width: 700px;">
    <div class="card border-0 shadow" style="background-color: rgba(255, 255, 255, 0.8);">
        <div class="card-body">
            <h1 class="text-center text-muted">
                AUTOMOTOR Y MOTOVEHICULOS
            </h1> 
            <hr>
            <br>
            <ul style="margin: 0 auto;">
                <li> Inscripciones iniciales </li>
                <li> Transferencias </li>
                <li> Informes de dominio </li>
                <li> Prendas </li>
                <li> Duplicado de chapas patente, título y cédulas </li>
                <li> Cambios de motor (alta, baja). Modificaciones de legajos </li>
                <li> Trámites de impuestos ante municipios, ARBA y AGIP </li>
                <li> Cambios de tipo </li>
                <li> Cédula de autorizado a conducir </li>
                <li> Denuncia de robo </li>
            </ul>  
            <br>
        </div>
    </div>   
</div>
